<!DOCTYPE html>
<html>
    <head>
        <title>stonks index</title>
    </head>
    <body>
      <h1>歡迎來到財報查詢站!</h1>
      請輸入以下資料:<br>
      <form action="/stonks/get_stonks_data/" method="post">
        <label>年分: </label>
        <input id="team_name" type="text" name="name_field">
        <label>季度: </label>
        <input id="team_name" type="text" name="name_field">
        <label>公司代碼: </label>
        <input id="team_name" type="text" name="name_field">
        <input type="submit" value="OK">
      </form>
    </body>
</html>
